
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
@keyframes EquinoxGradientRework{
/* Valid CSS */
body {
    font-family: 'Noto Serif TC', serif;
}
	0% {background: linear-gradient(177deg, #000916 48%, #ffffff 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent;}
	25%  {background: linear-gradient(357deg, #000916 48%, #ffffff 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent;}
	50% {background: linear-gradient(177deg, #000916 48%, #ffffff 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent;}	
	75%  {background: linear-gradient(357deg, #000916 48%, #ffffff 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent;}	
	100% {background: linear-gradient(177deg, #000916 48%, #ffffff 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent;}	
}

@keyframes EquinoxStrokeGradientRework{
	0% {background: linear-gradient(177deg, #02070c 25%, #b9bbbe 35%, #000813 40%, #ced0d2 45%, #081521 50%, #ffffff 51%, #999ca0 60%, #f3f5f6 65%, #404c57 78%, #ffffff 80%); -webkit-text-stroke: 1.5px transparent; -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent;}
	25%  {background: linear-gradient(357deg, #02070c 25%, #b9bbbe 35%, #000813 40%, #ced0d2 45%, #081521 50%, #ffffff 51%, #999ca0 60%, #f3f5f6 65%, #404c57 78%, #ffffff 80%); -webkit-text-stroke: 1.5px transparent; -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent;}
	50% {background: linear-gradient(177deg, #02070c 25%, #b9bbbe 35%, #000813 40%, #ced0d2 45%, #081521 50%, #ffffff 51%, #999ca0 60%, #f3f5f6 65%, #404c57 78%, #ffffff 80%); -webkit-text-stroke: 1.5px transparent; -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent;}	
	75%  {background: linear-gradient(357deg, #02070c 25%, #b9bbbe 35%, #000813 40%, #ced0d2 45%, #081521 50%, #ffffff 51%, #999ca0 60%, #f3f5f6 65%, #404c57 78%, #ffffff 80%); -webkit-text-stroke: 1.5px transparent; -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent;}	
	100% {background: linear-gradient(177deg, #02070c 25%, #b9bbbe 35%, #000813 40%, #ced0d2 45%, #081521 50%, #ffffff 51%, #999ca0 60%, #f3f5f6 65%, #404c57 78%, #ffffff 80%); -webkit-text-stroke: 1.5px transparent; -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent;}	
}

@keyframes EquinoxTransitionRework{
	0% {color: rgb(255 255 255/0%); -webkit-text-stroke: 1.5px rgb(255 255 255 0%);}
	7% {color: rgb(255 255 255/0%); -webkit-text-stroke: 1.5px rgb(255 255 255 0%);}	
	12.5% {color: rgb(255 255 255/100%); -webkit-text-stroke: 1.5px rgb(255 255 255 100%);}	
	17% {color: rgb(255 255 255/0%); -webkit-text-stroke: 1.5px rgb(255 255 255 0%);}
	25% {color: rgb(255 255 255/0%); -webkit-text-stroke: 1.5px rgb(255 255 255 0%);}
	32% {color: rgb(255 255 255/0%); -webkit-text-stroke: 1.5px rgb(255 255 255 0%);}
	37.5% {color: rgb(255 255 255/100%); -webkit-text-stroke: 1.5px rgb(255 255 255 100%);}	
	42% {color: rgb(255 255 255/0%); -webkit-text-stroke: 1.5px rgb(255 255 255 0%);}
	50% {color: rgb(255 255 255/0%); -webkit-text-stroke: 1.5px rgb(255 255 255 0%);}
	57% {color: rgb(255 255 255/0%); -webkit-text-stroke: 1.5px rgb(255 255 255 0%);}
	62.5% {color: rgb(255 255 255/100%); -webkit-text-stroke: 1.5px rgb(255 255 255 100%);}		
	67% {color: rgb(255 255 255/0%); -webkit-text-stroke: 1.5px rgb(255 255 255 0%);}
	75% {color: rgb(255 255 255/0%); -webkit-text-stroke: 1.5px rgb(255 255 255 0%);}
	82% {color: rgb(255 255 255/0%); -webkit-text-stroke: 1.5px rgb(255 255 255 0%);}
	87.5% {color: rgb(255 255 255/100%); -webkit-text-stroke: 1.5px rgb(255 255 255 100%);}		
	92% {color: rgb(255 255 255/0%); -webkit-text-stroke: 1.5px rgb(255 255 255 0%);}
	100% {color: rgb(255 255 255/0%); -webkit-text-stroke: 1.5px rgb(255 255 255 0%);}
}

@keyframes EquinoxPulseEffect{
	0% {filter: opacity(30%); transform: scale(1.175) translateX(-.5px) translateY(-.5px) rotate(-1deg);}
	12% {filter: opacity(0%); transform: scale(1.175) translateX(0) translateY(0) rotate(0deg);}
	12.5% {filter: opacity(100%); transform: scale(1) translateX(.5px) translateY(1px) rotate(1deg);}	
	25% {filter: opacity(30%); transform: scale(1.175) translateX(0) translateY(0) rotate(1deg);}	
	37% {filter: opacity(0%); transform: scale(1.175) translateX(-.5px) translateY(-.5px) rotate(0deg);}	
	37.5% {filter: opacity(100%); transform: scale(1) translateX(0) translateY(-1px) rotate(-1deg);}	
	50% {filter: opacity(30%); transform: scale(1.175) translateX(.5px) translateY(-.3px) rotate(-1deg);}	
	62% {filter: opacity(0%); transform: scale(1.175) translateX(0) translateY(.1px) rotate(0deg);}	
	62.5% {filter: opacity(100%); transform: scale(1) translateX(-.5px) translateY(1px) rotate(1deg);}	
	75% {filter: opacity(30%); transform: scale(1.175) translateX(0) translateY(.5px) rotate(1deg);}	
	87% {filter: opacity(0%); transform: scale(1.175) translateX(.5px) translateY(-.1px) rotate(0deg);}
	87.5% {filter: opacity(100%); transform: scale(1) translateX(0) translateY(-1px) rotate(-1deg);}	
	100% {filter: opacity(30%); transform: scale(1.175) translateX(-.5px) translateY(-.5px) rotate(-1deg);}		
}

@keyframes EquinoxPulseRework{
	0% {transform: scale(1) translateX(-.5px) translateY(-.5px) rotate(-1deg);}
	12% {transform: scale(1) translateX(0) translateY(0) rotate(0deg);}	
	12.5% {transform: scale(1.025) translateX(.5px) translateY(1px) rotate(1deg);}
	25% {transform: scale(1) translateX(0) translateY(0) rotate(1deg);}	
	37% {transform: scale(1) translateX(-.5px) translateY(-.5px) rotate(0deg);}
	37.5% {transform: scale(1.025) translateX(0) translateY(-1px) rotate(-1deg);}	
	50% {transform: scale(1) translateX(.5px) translateY(-.3px) rotate(-1deg);}	
	62% {transform: scale(1) translateX(0) translateY(.1px) rotate(0deg);}	
	62.5% {transform: scale(1.025) translateX(-.5px) translateY(1px) rotate(1deg);}	
	75% {transform: scale(1) translateX(0) translateY(.5px) rotate(1deg);}	
	87% {transform: scale(1) translateX(.5px) translateY(-.1px) rotate(0deg);}
	87.5% {transform: scale(1.025) translateX(0) translateY(-1px) rotate(-1deg);}	
	100% {transform: scale(1) translateX(-.5px) translateY(-.5px) rotate(-1deg);}	
}

@keyframes EquinoxSpinAnim {
  0.00% { background: linear-gradient(0deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  0.56% { background: linear-gradient(2deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  1.11% { background: linear-gradient(4deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  1.67% { background: linear-gradient(6deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  2.22% { background: linear-gradient(8deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  2.78% { background: linear-gradient(10deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  3.33% { background: linear-gradient(12deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  3.89% { background: linear-gradient(14deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  4.44% { background: linear-gradient(16deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  5.00% { background: linear-gradient(18deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  5.56% { background: linear-gradient(20deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  6.11% { background: linear-gradient(22deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  6.67% { background: linear-gradient(24deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  7.22% { background: linear-gradient(26deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  7.78% { background: linear-gradient(28deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  8.33% { background: linear-gradient(30deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  8.89% { background: linear-gradient(32deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  9.44% { background: linear-gradient(34deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  10.00% { background: linear-gradient(36deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  10.56% { background: linear-gradient(38deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  11.11% { background: linear-gradient(40deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  11.67% { background: linear-gradient(42deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  12.22% { background: linear-gradient(44deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  12.78% { background: linear-gradient(46deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  13.33% { background: linear-gradient(48deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  13.89% { background: linear-gradient(50deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  14.44% { background: linear-gradient(52deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  15.00% { background: linear-gradient(54deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  15.56% { background: linear-gradient(56deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  16.11% { background: linear-gradient(58deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  16.67% { background: linear-gradient(60deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  17.22% { background: linear-gradient(62deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  17.78% { background: linear-gradient(64deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  18.33% { background: linear-gradient(66deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  18.89% { background: linear-gradient(68deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  19.44% { background: linear-gradient(70deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  20.00% { background: linear-gradient(72deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  20.56% { background: linear-gradient(74deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  21.11% { background: linear-gradient(76deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  21.67% { background: linear-gradient(78deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  22.22% { background: linear-gradient(80deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  22.78% { background: linear-gradient(82deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  23.33% { background: linear-gradient(84deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  23.89% { background: linear-gradient(86deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  24.44% { background: linear-gradient(88deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  25.00% { background: linear-gradient(90deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  25.56% { background: linear-gradient(92deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  26.11% { background: linear-gradient(94deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  26.67% { background: linear-gradient(96deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  27.22% { background: linear-gradient(98deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  27.78% { background: linear-gradient(100deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  28.33% { background: linear-gradient(102deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  28.89% { background: linear-gradient(104deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  29.44% { background: linear-gradient(106deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  30.00% { background: linear-gradient(108deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  30.56% { background: linear-gradient(110deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  31.11% { background: linear-gradient(112deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  31.67% { background: linear-gradient(114deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  32.22% { background: linear-gradient(116deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  32.78% { background: linear-gradient(118deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  33.33% { background: linear-gradient(120deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  33.89% { background: linear-gradient(122deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  34.44% { background: linear-gradient(124deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  35.00% { background: linear-gradient(126deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  35.56% { background: linear-gradient(128deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  36.11% { background: linear-gradient(130deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  36.67% { background: linear-gradient(132deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  37.22% { background: linear-gradient(134deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  37.78% { background: linear-gradient(136deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  38.33% { background: linear-gradient(138deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  38.89% { background: linear-gradient(140deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  39.44% { background: linear-gradient(142deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  40.00% { background: linear-gradient(144deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  40.56% { background: linear-gradient(146deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  41.11% { background: linear-gradient(148deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  41.67% { background: linear-gradient(150deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  42.22% { background: linear-gradient(152deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  42.78% { background: linear-gradient(154deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  43.33% { background: linear-gradient(156deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  43.89% { background: linear-gradient(158deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  44.44% { background: linear-gradient(160deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  45.00% { background: linear-gradient(162deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  45.56% { background: linear-gradient(164deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  46.11% { background: linear-gradient(166deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  46.67% { background: linear-gradient(168deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  47.22% { background: linear-gradient(170deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  47.78% { background: linear-gradient(172deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  48.33% { background: linear-gradient(174deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  48.89% { background: linear-gradient(176deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  49.44% { background: linear-gradient(178deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  50.00% { background: linear-gradient(180deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  50.56% { background: linear-gradient(182deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  51.11% { background: linear-gradient(184deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  51.67% { background: linear-gradient(186deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  52.22% { background: linear-gradient(188deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  52.78% { background: linear-gradient(190deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  53.33% { background: linear-gradient(192deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  53.89% { background: linear-gradient(194deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  54.44% { background: linear-gradient(196deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  55.00% { background: linear-gradient(198deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  55.56% { background: linear-gradient(200deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  56.11% { background: linear-gradient(202deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  56.67% { background: linear-gradient(204deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  57.22% { background: linear-gradient(206deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  57.78% { background: linear-gradient(208deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  58.33% { background: linear-gradient(210deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  58.89% { background: linear-gradient(212deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  59.44% { background: linear-gradient(214deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  60.00% { background: linear-gradient(216deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  60.56% { background: linear-gradient(218deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  61.11% { background: linear-gradient(220deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  61.67% { background: linear-gradient(222deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  62.22% { background: linear-gradient(224deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  62.78% { background: linear-gradient(226deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  63.33% { background: linear-gradient(228deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  63.89% { background: linear-gradient(230deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  64.44% { background: linear-gradient(232deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  65.00% { background: linear-gradient(234deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  65.56% { background: linear-gradient(236deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  66.11% { background: linear-gradient(238deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  66.67% { background: linear-gradient(240deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  67.22% { background: linear-gradient(242deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  67.78% { background: linear-gradient(244deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  68.33% { background: linear-gradient(246deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  68.89% { background: linear-gradient(248deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  69.44% { background: linear-gradient(250deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  70.00% { background: linear-gradient(252deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  70.56% { background: linear-gradient(254deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  71.11% { background: linear-gradient(256deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  71.67% { background: linear-gradient(258deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  72.22% { background: linear-gradient(260deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  72.78% { background: linear-gradient(262deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  73.33% { background: linear-gradient(264deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  73.89% { background: linear-gradient(266deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  74.44% { background: linear-gradient(268deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  75.00% { background: linear-gradient(270deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  75.56% { background: linear-gradient(272deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  76.11% { background: linear-gradient(274deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  76.67% { background: linear-gradient(276deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  77.22% { background: linear-gradient(278deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  77.78% { background: linear-gradient(280deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  78.33% { background: linear-gradient(282deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  78.89% { background: linear-gradient(284deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  79.44% { background: linear-gradient(286deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  80.00% { background: linear-gradient(288deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  80.56% { background: linear-gradient(290deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  81.11% { background: linear-gradient(292deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  81.67% { background: linear-gradient(294deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  82.22% { background: linear-gradient(296deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  82.78% { background: linear-gradient(298deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  83.33% { background: linear-gradient(300deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  83.89% { background: linear-gradient(302deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  84.44% { background: linear-gradient(304deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  85.00% { background: linear-gradient(306deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  85.56% { background: linear-gradient(308deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  86.11% { background: linear-gradient(310deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  86.67% { background: linear-gradient(312deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  87.22% { background: linear-gradient(314deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  87.78% { background: linear-gradient(316deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  88.33% { background: linear-gradient(318deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  88.89% { background: linear-gradient(320deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  89.44% { background: linear-gradient(322deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  90.00% { background: linear-gradient(324deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  90.56% { background: linear-gradient(326deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  91.11% { background: linear-gradient(328deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  91.67% { background: linear-gradient(330deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  92.22% { background: linear-gradient(332deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  92.78% { background: linear-gradient(334deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  93.33% { background: linear-gradient(336deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  93.89% { background: linear-gradient(338deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  94.44% { background: linear-gradient(340deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  95.00% { background: linear-gradient(342deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  95.56% { background: linear-gradient(344deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  96.11% { background: linear-gradient(346deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  96.67% { background: linear-gradient(348deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  97.22% { background: linear-gradient(350deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  97.78% { background: linear-gradient(352deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  98.33% { background: linear-gradient(354deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  98.89% { background: linear-gradient(356deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  99.44% { background: linear-gradient(358deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
  100.00% { background: linear-gradient(360deg, black 50%, white 50%); -webkit-background-clip: text !important; background-clip: text; -webkit-text-fill-color: transparent; }
}
/*Glitch*/
 .GlitchTitle::after{
	animation: NewGlitchFont 2s linear infinite, NewGlitchTextStroke 25s linear infinite, GlitchTitle 3s linear infinite;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: black;
	background-clip: text;
	letter-spacing: .2em;
	content: "GLITCH";
	filter: saturate(2);
}

@keyframes NewGlitchFont{
	0% {font-family: Jura;}
	2.17% {font-family: Kalam;}
	4.34% {font-family: Michroma;}
	6.51% {font-family: sans-serif;}
	8.68% {font-family: Permanent Marker;}	
	10.85% {font-family: Arial;}
	13.02% {font-family: Noto Sans TC;}	
	15.19% {font-family: Sarpanch;}	
	17.36% {font-family: Special Elite;}	
	19.53% {font-family: Arial;}
	21.7% {font-family: Arial; font-weight: bold;}	
	23.87% {font-family: Noto Sans TC;}	
	26.04% {font-family: Noto Sans TC; font-weight: bold;}	
	28.21% {font-family: Noto Sans TC;}
	30.38% {font-family: Arial; font-style: italic;}
	32.55% {font-family: Noto Serif TC;}
	34.72% {font-family: Comic Neue;}	
	36.89% {font-family: Noto Sans TC;}	
	39.06% {font-family: Noto Sans TC; font-weight: bold;}	
	41.23% {font-family: Arial; font-weight: 900;}	
	43.4% {font-family: Amatic SC;}
	45.57% {font-family: Bangers;}
	47.74% {font-family: Creepster;}	
	49.91% {font-family: Denk One;}	
	52.08% {font-family: Fondamento;}	
	54.25% {font-family: Patrick Hand;}	
	56.42% {font-family: Indie Flower;}	
	58.59% {font-family: Josefin Sans;}	
	60.76% {font-family: Jura;}
	62.93% {font-family: Kalam;}	
	65.1% {font-family: Luckiest Guy;}	
	67.27% {font-family: Merriweather;}	
	69.44% {font-family: Michroma;}	
	71.61% {font-family: Arial;}
	73.78% {font-family: Denk One;}	
	75.95% {font-family: Patrick Hand;}	
	78.12% {font-family: Permanent Marker;}	
	80.29% {font-family: Arial;}
	82.46% {font-family: Sarpanch;}	
	84.63% {font-family: Special Elite;}	
	86.8% {font-family: Noto Sans TC;}	
	88.97% {font-family: Arial;}
	91.14% {font-family: Noto Sans TC; font-weight: bold;}	
	93.31% {font-family: Noto Sans TC;}	
	95.48% {font-family: Arial; font-weight: bold;}	
	97.65% {font-family: Noto Sans TC;}	
	100% {font-family: Noto Sans TC; font-weight: bold;}	
}

@keyframes NewGlitchTextStroke{
	0%{-webkit-background-clip: text !important;-webkit-text-fill-color: black;background-clip: text;-webkit-text-stroke:2px transparent;background: linear-gradient(to bottom, #131323 41%, #4f3d91 42%, #1b0f47 45%, #4a3e7a 50%, #040b22 55%, #21135c 60%, #02011a 62%, #422d8e 75%);}
	25%{-webkit-background-clip: text !important;-webkit-text-fill-color: black;background-clip: text;-webkit-text-stroke:2px transparent;background: linear-gradient(to bottom, #173424 25%, #030a03 41%, #2e5540 42%, #030a03 45%, #23372d 50%, #030a03 55%, #204c35 60%, #091106 62%, #204c35 75%);}	
	50%{-webkit-background-clip: text !important;-webkit-text-fill-color: black;background-clip: text;-webkit-text-stroke:2px transparent;background: linear-gradient(to bottom, #662b39 25%, #1b030a 41%, #905062 42%, #220002 45%, #7a4c57 50%, #220002 55%, #773c4a 60%, #220002 62%, #762c3c 75%);}	
	75%{-webkit-background-clip: text !important;-webkit-text-fill-color: black;background-clip: text;-webkit-text-stroke:2px transparent;background: linear-gradient(to bottom, #1b0b1c 25%, #050a09 41%, #6d3479 42%, #30083a 45%, #5c3966 50%, #1c0223 55%, #53265a 60%, #0b0b12 62%, #6e2d8c 75%);}		
	100%{-webkit-background-clip: text !important;-webkit-text-fill-color: black;background-clip: text;-webkit-text-stroke:2px transparent;background: linear-gradient(to bottom, #3a3c3e 25%, #050a09 41%, #787c7a 42%, #232323 45%, #6d7175 50%, #050a09 55%, #5e625c 60%, #010202 62%, #6d7175 75%);}		
}

@keyframes GlitchTitle{
	0%{content: "glI/T_C&h-";}
	4.3%{content: "GL4ITCH";}	
	8.6%{content: "GLIt.ch";}	
	12.9%{content: "GLi(Tc-H";}
	17.2%{content: "glitCh";}	
	21.5%{content: "G''liTcH}";}
	25.8%{content: "GL'it+'CH";}	
	30.1%{content: "GL,IT(cH";}
	34.4%{content: "gLit^CH";}	
	38.7%{content: "GLitC%h#";}	
	43%{content: "G<(litch''";}	
	47.3%{content: "gLi@TCH'";}	
	51.6%{content: "GLi(Tc-H";}
	55.9%{content: "glitch";}
	60.2%{content: "g}L>I*tc/H";}	
	64.5%{content: "gLIt=CH";}	
	68.8%{content: "GLi(Tc-H";}
	73.1%{content: "g?liTc'h|";}	
	77.4%{content: "G''lItC[h/";}	
	81.7%{content: "g#LiT/cH";}	
	86%{content: "g.lIT|cH&";}
	90.3%{content: "gliTCH";}	
	94.6%{content: "g*Lit%CH";}	
	98.9%{content: "GLITch^";}	
	100%{content: "g;lI*TC_H";}	
}
@keyframes PixelRainbow {
	0% {color: #f8fb65;}
	1% {color: #f8fb65;}
	2% {color: #f3fa62;}
	3% {color: #f8fb7d;}
	4% {color: #f8fb88;}
	5% {color: #f8fb88;}
	6% {color: #e6fb7d;}
	7% {color: #d8fb6c;}
	8% {color: #e1fb80;}
	9% {color: #ccfb79;}
	10% {color: #d6fb7c;}
	11% {color: #cafc79;}
	12% {color: #bdfc6d;}
	13% {color: #a3fc77;}
	14% {color: #8ffd7b;}
	15% {color: #7dfe8d;}
	16% {color: #78fd8b;}
	17% {color: #7bfd8e;}
	18% {color: #6cf7a6;}
	19% {color: #88fcd4;}
	20% {color: #74fdd8;}
	21% {color: #75fdd2;}
	22% {color: #74fddb;}
	23% {color: #74fcde;}
	24% {color: #75fce8;}
	25% {color: #77fbf8;}
	26% {color: #76fbef;}
	27% {color: #75fbee;}
	28% {color: #74f8f6;}
	29% {color: #7ff8f8;}
	30% {color: #75f9f7;}
	31% {color: #73f7f6;}
	32% {color: #74faee;}
	33% {color: #76faf7;}
	34% {color: #7ff7f8;}
	35% {color: #84f6f9;}
	36% {color: #7ffbf6;}
	37% {color: #72f3f5;}
	38% {color: #72ecf3;}
	39% {color: #80f7f8;}
	40% {color: #86e8f5;}
	41% {color: #89d0e7;}
	42% {color: #87cded;}
	43% {color: #83c5fa;}
	44% {color: #9eb5fb;}
	45% {color: #9c9ffb;}
	46% {color: #8a9bf9;}
	47% {color: #ab7bf5;}
	48% {color: #c67ef6;}
	49% {color: #d37cf7;}
	50% {color: #d483f7;}
	51% {color: #dc79f8;}
	52% {color: #f172fa;}
	53% {color: #f584fb;}
	54% {color: #f97bf4;}
	55% {color: #fa83f4;}
	56% {color: #fb71f9;}
	57% {color: #fc74fd;}
	58% {color: #fa66f9;}
	59% {color: #fd81f4;}
	60% {color: #f886f6;}
	61% {color: #fc78f9;}
	62% {color: #fa69fa;}
	63% {color: #fa72fc;}
	64% {color: #fd81f4;}
	65% {color: #f886f5;}
	66% {color: #fc78f9;}
	67% {color: #fc77fa;}
	68% {color: #fc81f4;}
	69% {color: #f68af3;}
	70% {color: #fc89e1;}
	71% {color: #fc7fe5;}
	72% {color: #fb87d4;}
	73% {color: #f990cc;}
	74% {color: #fc94d1;}
	75% {color: #ee84af;}
	76% {color: #f8817a;}
	77% {color: #fa9391;}
	78% {color: #f9b984;}
	79% {color: #eed387;}
	80% {color: #ead799;}
	81% {color: #f4ce6d;}
	82% {color: #f9eb7b;}
	83% {color: #f8fb88;}
	84% {color: #f8f482;}
	85% {color: #f8fb83;}
	86% {color: #f8fa87;}
	87% {color: #f8fb70;}
	88% {color: #f8fb81;}
	89% {color: #f8fb78;}
	90% {color: #f8fb6e;}
	91% {color: #f8fb7d;}
	92% {color: #f8fb65;}
	93% {color: #f8fb6b;}
	94% {color: #f8fb85;}
	95% {color: #f8fb6f;}
	96% {color: #f7fa64;}
	97% {color: #f3fb66;}
	98% {color: #e8f45b;}
	99% {color: #f7fb87;}
	100% {color: #f8fb65;}
}
.PixelRainbow{
  animation: PixelRainbow 3s linear infinite;
}
.TextStroke::before {
content: attr(data-text);
z-index: 0;
}
.GlitchTitle::after{
	animation: NewGlitchFont 4s linear infinite, NewGlitchTextStroke 25s linear infinite, GlitchTitle 3s linear infinite;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: black;
	background-clip: text;
	letter-spacing: .2em;
	content: "GLITCH";
	filter: saturate(2);
}

.EquinoxGradientRework{
	animation: EquinoxGradientRework 2s linear infinite, EquinoxPulseRework 2s linear infinite;
	display: inline-block;
  font-family: 'Noto Serif TC', serif;
}

.EquinoxStrokeGradientRework::before{
	animation: EquinoxStrokeGradientRework 2s linear infinite, EquinoxPulseRework 2s linear infinite;
	display: inline-block;
	content: attr(data-text);
}

.EquinoxTransitionRework::before{
	animation: EquinoxTransitionRework 2s linear infinite, EquinoxPulseRework 2s linear infinite;
	display: inline-block;
	content: attr(data-text);
}

.EquinoxPulseEffect::before{
	animation: EquinoxPulseEffect 2s linear infinite;
	display: inline-block;
	content: attr(data-text);
	color: white;
}
@keyframes FOTCMGradient{
	0% {background-position: 400% 0;}
	100% {background-position: 0 0;}	
}
